@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

/* Variáveis CSS */
:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, Sans-Serif;
    --fonte-destaque: 'Bebas Neue', 'cursive';
    --fonte-android: 'Android', 'cursive';
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

p{
    margin: 15px 0px;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

/* Colocar o emoji do emoji-pidia depois do link */
a.externo::after {
    content: ' \1F517';
}

/* CABEÇALHO */
.cabecalho{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

.cabecalho h1, .cabecalho p{
    color: #fff;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.507);
}

.cabecalho h1{
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-bottom: 20px;
}

.cabecalho p{
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
}

/* MENU*/
.navegacao{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.281);
}

.navegacao a{
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .3s;
}

.navegacao a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
}

/* CONTEÚDO*/
.conteudo-principal{
    background-color: #fff;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.conteudo-principal h1{
    color: var(--cor5);
    font-family:var(--fonte-android);
}

.conteudo-principal h2{
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
}

.conteudo-principal p{
    text-align: justify;
}

.conteudo-principal img{
    width: 100%;
}

.conteudo-principal .imagem-pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

.conteudo-principal strong{
    color: var(--cor4);
    font-weight: bold;
}

.conteudo-principal a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}

.conteudo-principal a:hover{
    text-decoration: underline;
    color: var(--cor4);
}

/* VIDEO DO YOUTUB */
.conteudo-principal .video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 58%;
}

.conteudo-principal .video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

/* CONTEÚDO PÉRIFERICO */
.conteudo-periferico{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.322);
}

.conteudo-periferico h3{
    background-color: var(--cor4);
    color: #fff;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

.conteudo-periferico ul{
    list-style: inside;
    columns: 2;
}

/* RODAPÉ */
.rodape{
    background-color: var(--cor5);
    color: #fff;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

.rodape a{
    color: #ffffffc5;
    font-weight: bold;
    text-decoration: none;
}

.rodape a:hover{
    text-decoration: underline;
    color: var(--cor1);
}
